.wrapper {
  background-color: var(--section-color);
  padding-block: 20px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.title_accent {
  color: var(--accent-color);
}

.profile_info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile_img {
  width: 48px;
  height: 48px;
  border: 1px solid var(--accent-color);
  border-radius: 200px;
  object-fit: cover;
}
